body {

	font-family: helvetica-bold;
}
header {
	position: relative;
}

h1 {
	position: absolute;
	z-index: 1;
	font-family: 'Anton', sans-serif;
	font-size: 100pt;
	color: white;
	width: 99%;
	text-align: center;
}
a {
	text-decoration-line: none;
	color: black;

}

a:hover, article {
	background-color: black;
}

a:hover{
    color: white;
    padding: 20px;

} 
ul li {
	display: inline;
	padding: 120px	
	

}

p {
	color: white;
	font-family: helvetica;
}

article {
	text-align: center;	
	width: 550px;
    border: 25px black;
    padding: 25px;
    margin-left: 350px;
    background-color: black

}

h2 {
	font-family: helvetica-bold;
	color: white;

}

div#map {
	width:400px;
	height:400px;
}
footer {
	 position: static;
}
